{% extends 'base.html' %}

{% block content %}
<body>
    {% for example in Example %}
        <div class="container-fluid">
        <div class="h2" style="text-align: center">{{ example.title }}</div> <br>
        <img class="img_example w-25 rounded mx-auto d-block" src="{{ example.image.url }}"> <br>
        <div class="h4" style="text-align: center">{{ example.description }} </div><br>
        </div>
        <hr>
    {% endfor %}

</body>
{% endblock %}