{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Wasner</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static '/img/LogoFichier2.jpg' %}"/>

    <!-- Custom styles for this template-->

</head>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'app_index' %}">
            <img src="{% static '/img/LogoFichier2.jpg' %}" width="30" height="30" class="d-inline-block align-top"
                 alt="">
            IMAGINEM
        </a>
        {% if user.is_authenticated %}
            <div class="float-sm-right">
                <a href="{% url 'profile' %}">{% trans 'Profile' %}</a> /
                <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
            </div>
        {% else %}
            <div class="float-sm-right">
                <a href="{% url 'signup' %}">{% trans "Signup" %}</a> /
                <a href="{% url 'login' %}">{% trans "Login" %}</a>
            </div>
        {% endif %}

    </nav>
</header>
{% block content %}

{% endblock %}

</html>
