{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <body>
    <main class="container-fluid ">
        <div class="Introduction">
            <p class="h1" style="text-align: center">{% trans "Bienvenue sur mon site portfolio !" %}</p>
            <p class="h4" style="text-align: center">{% trans "Je m'appelle Nicolas, je suis un jeune auto-entrepreneur et étudiant en développement Web" %} </p>
        </div>
        <div class=" Presentation bg-primary mx-auto">
            <!--        <div class="row">-->
            <div class="container mx-auto etudes  row">
                <div class="col w-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi beatae
                    consequuntur dolores ea
                    excepturi explicabo fuga impedit incidunt numquam optio provident quis, reprehenderit sit unde!
                    Atque earum quaerat rerum?
                </div>
                <img class="col w-25" src="{% static 'img/filigrane_Noir.png' %}" alt="">
            </div>
            <!--        </div>-->
            <div class="row">
                <div class="container passion row mx-auto">
                    <img class="col w-25" src="{% static 'img/filigrane_Noir.png' %}" alt="">
                    <p class="col w-50"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio illo ipsa
                        nemo tenetur!
                        Blanditiis, consequatur corporis debitis est eveniet ipsa maiores natus, obcaecati officia
                        perspiciatis rem repellendus tempore vel, velit.</p>
                </div>
            </div>
            <div class="row">
                <div class="container experience mx-auto row">
                    <p class="col w-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dignissimos dolor
                        eligendi eum natus
                        provident, quo quod rem repellat soluta tenetur ullam unde vel voluptas voluptates! Est iure
                        quod
                        repellat!</p>
                    <img class="col w-25" src="{% static 'img/filigrane_Noir.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="Prestation bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a href="{% url 'portrait' %}">
                            <img class="w-75" src="{% static 'img/portrait.jpg' %}" alt="">
                            {% trans "Portrait" %}
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="{% url 'paysage' %}">
                            <img class="w-75" src="{% static 'img/paysage.jpg' %}" alt="">
                            {% trans "Paysage" %}
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="{% url 'animalier' %}">
                            <img class="w-75" src="{% static 'img/animalier.jpg' %}" alt="">
                            {% trans "Animalier" %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a href="{% url 'flore' %}">
                            <img class="w-75" src="{% static 'img/flore.jpg' %}" alt="">
                            {% trans "Flore" %}
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="{% url 'pose_longue' %}">
                            <img class="w-75" src="{% static 'img/pose_longue.jpg' %}" alt="">
                            {% trans "Pose Longue" %}
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="{% url 'pictures' %}">
                            <img class="w-75" src="{% static 'img/paysage.jpg' %}" alt="">
                            {% trans "Pictures" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
{#        Formulaire de Contact #}
        <div class="Form bg-success">
            <form class="container-md">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>

    <footer>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>

{% endblock %}