{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>{% trans "Profile Settings" %}</h1>
    {% if user.first_name is not None %}
        <h2>{% trans "First Name" %} : {{ user.first_name }}</h2>
    {% endif %}
    {% if user.last_name is not None %}
        <h2>{% trans "Last Name" %} : {{ user.last_name }}</h2>
    {% endif %}
    <h2>{% trans "User" %} : {{ user }}</h2>
    <h2>Mail : {{ user.email }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">{% trans "Save changes" %}</button>
    </form>
{% endblock %}