{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <h1>{% trans "Profile Settings" %}</h1>
    {% if user.first_name is not None %}
        <h2>{% trans "First Name" %} : {{ user.first_name }}</h2>
    {% endif %}
    {% if user.last_name is not None %}
        <h2>{% trans "Last Name" %} : {{ user.last_name }}</h2>
    {% endif %}
    <h2>{% trans "User" %} : {{ user }}</h2>
    <h2>Mail : {{ user.email }}</h2>
    <a href="{% url 'password_change' %}">{% trans "Modify Your Password" %}</a>
{% endblock %}